body {
  background-color: red;
  color: #ff0000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

p {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

ul, ol {
  list-style-type: disc;
  color: #fff;
  margin-left: 20px;
}




