body {
  background-color: #D2B48C;
  color: #fff;
  font-family: "Times New Roman", serif;
  margin: 10px;
  padding: 10px;
}

h1, h2, h3 {
  font-family: "Georgia", serif;
  font-weight: normal;
  color: #000;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
}

img {
  max-width: 80%;
  height: auto;
  display: inline;
  margin: 10px auto;
}

a {
  text-decoration: underline;
  color: #007BFF;
  font-weight: normal;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

ul, ol {
  list-style-type: square;
  color: #333;
  margin-left: 20px;
}

header {
  float: none;
  width: auto;
  background-color: transparent;
}

nav ul {
  list-style: none;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  background-color: #0000ff;
  color: #fff;
}

nav li {
  float: left;
  margin-right: 20px;
  border: 1px solid #fff;
}










