body {
  background-color: yellow;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #fff;
}

p {
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

ul, ol {
  list-style-type: disc;
  color: #fff;
}



